<%= flash[:logout] %>


<main>
   <p id="notice"></p>
<div claass="container">
   <div class="row">
      <div class=" col-11 d-flex justify-content-center align-items-center ">
         <h1>Welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>
      </div>
   </div>
</div>
         <div class="container">
            <div class="row">
               <div class= "col-11 d-flex justify-content-center align-items-center" >
               <p>In <i class="fa-solid fa-book"></i>Bookers,<br>
                you can share and exchange your opinions,inpressions,and emotions<br>
                about various books!</p>
               </div>
            </div>
         </div>
         <div class="d-grid gap-2 col-6 mx-auto">
            <div class="row">
            <a href="/users/sign_in" class="btn btn-info btn-block mb-2" role="button">Log in</a>
            </div>
            <div class="row">
            <a href="/users/sign_up" class="btn btn-success btn-block" role="button">Sign up</a>
            </div>
         </div>
</main>